.row{
    margin-right: -15px;
    margin-left: -15px;
    &:after, &:before{
        display: table;
        content: " ";
    }
    .col-half{
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}