.inner {
  background-color: #273c5b;
  color: white;
  font-weight: 700px;
  font-family: 'Dosis', sans-serif;

  
  
}

.kiri {
   margin: 10px 100px;
   float: left;
   font-size:16px;
}

.kiri p {
   margin: 0;
   color: #ffffff;
}

.kiri p span {
   color: darkorange;
}

.kanan {
   float: right;
   margin: 10px 100px;
   font-size: 16px;
}

.kanan img {
   float: left;
   margin: 0px 10px;
}

.kanan p {
  float: left;
  margin: 0;
   color:#ffffff;
}


.clear {
    clear: both;
}

.topnav {
   overflow: hidden;
   background-color: white;
}


.topnav h3 {
   float: left;
}

.topnav .nav {
   float: right;
   margin: 30px 0px;
}

.topnav h3 {
   font-size: 20px;
   margin: 0;
}

.topnav a {
   float: left;
   color: black;
   text-align: center;
   padding: 0px 16px;
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Dosis', sans-serif;
}

.topnav a:hover {
   color: lightblue;
}

.topnav a.active {
   color: #008ED7;
}

#Bagian2{
   margin: 0px;
   height:660px;
   width:1440px;
   font-family: 'Dosis', sans-serif;
   background:url(https://www.miamipestcontrolsolutions.com/wp-content/uploads/2017/03/bg-hero.jpg?id=69);
}


#Container{
  height:100%;
  padding-top: 100px;
  padding-bottom: 93px;
  padding-right: 30px;
  padding-left: 130px;
  background-position: center;
  background-size: cover;
  width:78%;
   margin-right: 0px;
}

.judul h2{
     font-size: 80px;
     color: #ffffff;
     line-height: 80px;
     text-align: left;	
}

.teks p span{
  color: #ffffff;
  font-size: 30px;
}

.section {
   width:600px;
   height: 660px;
   background-color: #008ED7;
   color: white;
   width: 100%;
   padding-top: 40px;
   padding-bottom: 20px;
   padding-right: 140px;
   padding-left: 60px;
}

h2 {
   text-align: center;
   margin: 5px;
   font-size: 40px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
   width: 440px;
   padding: 15px;
   margin: 5px 0 10px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
   box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
   background-color: #ddd;
   outline: none;
}

.registerbtn {
   background-color: #E5AB1F;
   box-sizing: border-box;
   color: white;
   padding: 15px;
   margin: 30px 0 10px 0;
   margin-bottom: 30px;
   border: none;
   cursor: pointer;
   width: 100%;
   opacity: 0.9;
}

.col-sm-5 .section form{
   width:400px;
   height:485px;
   margin: 0px;
}

.col-sm-5 .section form .form-group{
   width:400px;
}

#request{
   color: white;
}

#bagianform{
   padding-left: 0px;
   padding-right: 0px;
}

.badan{
   width: 100%;
}
 